#foot{
    position: absolute;
    bottom: 0;
    width: 100%;
}
#foot>a{
    display: block;
    text-decoration: none;
    margin: auto;
}
.foot-svg{
    width: 65px;
    transition: width 1s;
}
.foot-svg:hover{
    width: 75px;
    transition: width 1s;
}
#foot>a>img{
    width: inherit;
}


@media only screen and (max-width : 812px) {
    #foot{
        width: 100%;
    }
    #foot>a{
        display: block;
        text-decoration: none;
        margin: auto;
    }
    .foot-svg{
        width: 65px;
        transition: width 1s;
    }
    .foot-svg:hover{
        width: 75px;
        transition: width 1s;
    }
    #foot>a>img{
        width: inherit;
    }
}
