@import './partials/footer';

*{
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
html,body{
    background: black url('../img/bg_blur.jpg') no-repeat;
    background-color: grey;
    background-size: cover;
    background-position: center center;
    height: 100%;
    margin: 0;
    padding: 0;
}
#flex-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100%;
    margin-bottom: -50px;
}
#text{
    padding-bottom: 100px;
}
#counter{
    font-size: 2.3em;
}
#platform-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.platform-svg{
    width: 50px;
    padding: 0 10px;
    transform: scale(1);
    transition: transform 1s;
}
h1{
    text-shadow: 2px 2px 5px  rgba(0,0,0,0.75);
}
.platform-svg:hover{
    transform: scale(1.2);
    transition: transform 1s;
}
#album-img{
    width: 400px;
    margin: 10px 0;
    box-shadow: 10px 10px 10px -9px rgba(0,0,0,0.75);
}
@media only screen and (max-width : 812px) {
    html,body{
        background: black url('../img/bg_blur.jpg') no-repeat;
        height: 100%;
        margin: 0;
    }
    #flex-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        min-height: 100%;
        margin-bottom: 50px;
    }
    #album-img{
        width: 80%;
        margin: 0 10px;
    }
    #text{
        padding: 0;
    }
    h1{
        font-size: 18pt;
    }
}